<!DOCTYPE html>
<html lang="zxx" class="no-js">
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Author Meta -->
        <meta name="author" content="CodePixar">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Dismip</title>
        
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100|Poppins:300,400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500">
        <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/style.minified.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="../../../www.codepixar.com/matex/matex/css/style.html">
        
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
    </head>
    
    <body>
        
                <header id="header" class="site-header header-shop static sticky-js">
            <div class="container">
                <div class="primary-nav-inner relative flex">
                    <a href="" class="site-logo flex-cell flex-middle" >
                        <!-- <img src="img/logo.png" alt="Materialist"> -->Disnip
                    </a>
                    <!-- end .site-logo -->
                
                    <nav class="primary-nav menu-dark">
                        <ul class="menu-list nav-hover-1 sf-menu clear list-none">
                            <li class="has-dropdown megamenu">
                              <a href="#">Home</a>
                            </li>
                             <li class="has-dropdown megamenu">
                                <a href="shop.html">Shop</a>
                            </li>
							<li class="has-dropdown megamenu">
								<a href="">About</a>
							</li>
							<li class="has-dropdown megamenu">
								<a href="login.html">Login / Sign Up</a>
							</li>
							 



                       </ul>
                    </nav>
                    <!-- end .primary-nav -->

                    <div class="header-action-btns clear">
                        <div class="top-search transition">
                            <a href="#" class="top-search-trigger absolute-center"></a>
                        </div>
                        <!-- end .top-search -->
                        <div class="top-cart transition">
                            <a href="#" class="top-cart-trigger absolute-center">
                                <span class="count-badge">02</span>
                            </a>
                            <div class="header-cart-2 z-depth-1">
                                <h6 class="cart-title text-color text-uppercase roboto text-center mb-30">Shopping Cart</h6>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/11.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Black WorkStation Files for Office </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/12.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Lorem ipsum product </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="product-total row no-gutter text-center fw500 title-color text-uppercase">
                                    <span class="col-xs-6">Total</span>
                                    <span class="col-xs-6">$99.98</span>
                                </div>
                                <div class="actions text-center">
                                    <span><a href="#" class="view-cart title-link text-uppercase">View Cart <i class="fa fa-angle-right"></i></a></span>
                                    <span><a href="#" class="btn waves-effect waves-light btn-light-dark">Process to Checkout</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- end .top-cart -->
                    </div>

                    <button class="nav-hamburger dark visible-xs visible-sm">
                        <span>toggle menu</span>
                    </button> <!-- /.nav-hamburger -->
                </div>
            </div> <!-- /.container -->
        </header>
        <!-- /.magazine-header -->
        <div class="search-wrapper">
            <a href="#" class="close-search"><i class="material-icons">close</i></a>
            <form action="#" class="search-popup">
                <div class="input-field">
                    <input type="search" id="search" autocomplete="off">
                    <label for="search">Search here...</label>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <main id="main" class="site-content">
             <section id="contact" class="section-full gray-bg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-offset-2 col-md-8">
                            <div class="section-title style3 text-center">
                                <h2 class="text-uppercase">Keep in <b>Touch</b></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </div>
                        </div>
                    </div> <!-- end .row -->
                </div>  <!-- end .container -->
                <div class="container">
                    <div class="row bottom-half">
                        <div class="col-sm-4 bottom-margin">
                            <div class="contact-block dark text-center">
                                <h4 class="text-uppercase title-ls mb-30">Cell number</h4>
                                <p>Phone: +123 4567 890 <br>Phone: +001 2345 678</p>
                            </div>
                        </div>
                        <div class="col-sm-4 bottom-margin">
                            <div class="contact-block dark text-center">
                                <h4 class="text-uppercase title-ls mb-30">Location</h4>
                                <p>169 Old street road, new town <br> ny 36963 usa</p>
                            </div>
                        </div>
                        <div class="col-sm-4 bottom-margin">
                            <div class="contact-block dark text-center">
                                <h4 class="text-uppercase title-ls mb-30">Email support</h4>
                                <p>
                                    <a href="mailto:info@yourdomain.com" class="text-link">info@disnip.com</a> <br>
                                    <a href="mailto:support@yourdomain.com" class="text-link">support@disnip.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end .row -->

                    <form id="contact-form" class="row contact-form" method="post" novalidate="novalidate">
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input id="name" name="name" class="ml-input" type="text">
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input id="email" name="email" class="ml-input" type="email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input id="phoneNumber" name="phoneNumber" class="ml-input" type="text">
                                <label for="phoneNumber">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input id="subject" name="subject" class="ml-input" type="text">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-field">
                                <textarea id="message" name="message" class="materialize-textarea"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-offset-4 col-md-4 text-center">
                            <div class="">
                                <button class="btn-large btn-white waves-effect text-uppercase" type="submit">Submit</button>
                            </div>
                            <div class="message-actions">
                                <div class="msg-success">Your message was sent successfully</div>
                                <div class="msg-error">Something went wrong, please try again later.</div>
                            </div>
                        </div>
                    </form>
                    <!-- end .row -->
                </div>
            </section>

        </main> <!--  .site-content  -->

        <!-- include file -->
                         <div class="secondery-footer dark">
                            <div class="container">
                                <div class="inner-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p>Copyright 2017 Dismip | All Rights Reserved </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <ul class="social-links social-1 text-right">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                 
                                                 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" id="go-top">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </footer>        <!-- include file -->

        
        <!--
        JavaScripts
        ========================== -->
        <script src="js/scripts.minified.js"></script>
        <script src="js/main.js"></script>    </body>
 
</html>