<!DOCTYPE html>
<html lang="zxx" class="no-js">
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Author Meta -->
        <meta name="author" content="CodePixar">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Dismip</title>
        
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100|Poppins:300,400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500">
        <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/style.minified.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="../../../www.codepixar.com/matex/matex/css/style.html">
        
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
    </head>
    
    <body>
        
                <header id="header" class="site-header header-shop static sticky-js">
            <div class="container">
                <div class="primary-nav-inner relative flex">
                    <a href="" class="site-logo flex-cell flex-middle" >
                        <!-- <img src="img/logo.png" alt="Materialist"> -->Disnip
                    </a>
                    <!-- end .site-logo -->
                
                    <nav class="primary-nav menu-dark">
                        <ul class="menu-list nav-hover-1 sf-menu clear list-none">
                            <li class="has-dropdown megamenu">
                              <a href="#">Home</a>
                            </li>
                             <li class="has-dropdown megamenu">
                                <a href="shop.html">Shop</a>
                            </li>
							<li class="has-dropdown megamenu">
								<a href="">About</a>
							</li>
							<li class="has-dropdown megamenu">
								<a href="login.html">Login / Sign Up</a>
							</li>
							 



                       </ul>
                    </nav>
                    <!-- end .primary-nav -->

                    <div class="header-action-btns clear">
                        <div class="top-search transition">
                            <a href="#" class="top-search-trigger absolute-center"></a>
                        </div>
                        <!-- end .top-search -->
                        <div class="top-cart transition">
                            <a href="#" class="top-cart-trigger absolute-center">
                                <span class="count-badge">02</span>
                            </a>
                            <div class="header-cart-2 z-depth-1">
                                <h6 class="cart-title text-color text-uppercase roboto text-center mb-30">Shopping Cart</h6>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/11.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Black WorkStation Files for Office </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/12.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Lorem ipsum product </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="product-total row no-gutter text-center fw500 title-color text-uppercase">
                                    <span class="col-xs-6">Total</span>
                                    <span class="col-xs-6">$99.98</span>
                                </div>
                                <div class="actions text-center">
                                    <span><a href="#" class="view-cart title-link text-uppercase">View Cart <i class="fa fa-angle-right"></i></a></span>
                                    <span><a href="#" class="btn waves-effect waves-light btn-light-dark">Process to Checkout</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- end .top-cart -->
                    </div>

                    <button class="nav-hamburger dark visible-xs visible-sm">
                        <span>toggle menu</span>
                    </button> <!-- /.nav-hamburger -->
                </div>
            </div> <!-- /.container -->
        </header>
        <!-- /.magazine-header -->
        <div class="search-wrapper">
            <a href="#" class="close-search"><i class="material-icons">close</i></a>
            <form action="#" class="search-popup">
                <div class="input-field">
                    <input type="search" id="search" autocomplete="off">
                    <label for="search">Search here...</label>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <main id="main" class="site-content">
             
            <!-- /.page-header -->
            <section class="mb-40 mt-40">
                <div class="container">
                  <article class="search-result-box shadow-default white-bg border-radius">
                        <h4><a  class="title-link">Privacy Policy</a></h4>
                        <p><strong>Overview</strong>  </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>

                        <p><strong>Return Policy</strong>  </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>

                        <p><strong>What is Lorem Ipsum?</strong>  </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                        <p>Cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>

                        <p><strong>Why do we use it?</strong>  </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p><strong>Where can I get some?</strong>  </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </article>
                </div> <!-- /.container -->
            </section>
            <!-- //.section-full -->

 

        </main> <!--  .site-content  -->

        <!-- include file -->
                         <div class="secondery-footer dark">
                            <div class="container">
                                <div class="inner-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p>Copyright 2017 Dismip | All Rights Reserved </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <ul class="social-links social-1 text-right">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                 
                                                 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" id="go-top">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </footer>        <!-- include file -->

        
        <!--
        JavaScripts
        ========================== -->
        <script src="js/scripts.minified.js"></script>
        <script src="js/main.js"></script>    </body>
 
</html>