     <!DOCTYPE html>
<html lang="zxx" class="no-js">
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
<head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Author Meta -->
        <meta name="author" content="CodePixar">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="utf-8">

        <!-- Site Title -->
        <title>Dismip</title>
        
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100|Poppins:300,400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500">
        <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/style.minified.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="../../../www.codepixar.com/matex/matex/css/style.html">
        
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
    </head>
    
    <body>
        
                <header id="header" class="site-header header-shop static sticky-js">
            <div class="container">
                <div class="primary-nav-inner relative flex">
                    <a href="" class="site-logo flex-cell flex-middle" >
                        <!-- <img src="img/logo.png" alt="Materialist"> -->Disnip
                    </a>
                    <!-- end .site-logo -->
                
                    <nav class="primary-nav menu-dark">
                        <ul class="menu-list nav-hover-1 sf-menu clear list-none">
                            <li class="has-dropdown megamenu">
                              <a href="#">Home</a>
                            </li>
                             <li class="has-dropdown megamenu">
                                <a href="shop.html">Shop</a>
                            </li>
							<li class="has-dropdown megamenu">
								<a href="">About</a>
							</li>
							<li class="has-dropdown megamenu">
								<a href="login.html">Login / Sign Up</a>
							</li>
							 



                       </ul>
                    </nav>
                    <!-- end .primary-nav -->

                    <div class="header-action-btns clear">
                        <div class="top-search transition">
                            <a href="#" class="top-search-trigger absolute-center"></a>
                        </div>
                        <!-- end .top-search -->
                        <div class="top-cart transition">
                            <a href="#" class="top-cart-trigger absolute-center">
                                <span class="count-badge">02</span>
                            </a>
                            <div class="header-cart-2 z-depth-1">
                                <h6 class="cart-title text-color text-uppercase roboto text-center mb-30">Shopping Cart</h6>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/11.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Black WorkStation Files for Office </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="cart-product relative flex flex-middle">
                                    <figure class="thumb mr-20">
                                        <a href="#"><img src="img/product/12.jpg" alt=""></a>
                                    </figure>
                                    <div class="desc">
                                        <h6 class="roboto mb-10"><a href="#" class="title-link">Lorem ipsum product </a></h6>
                                        <span class="price title-color fw500">$49.99 x 01</span>
                                    </div>
                                    <a href="javascript:;" class="remove-product transition"></a>
                                </div>
                                <div class="product-total row no-gutter text-center fw500 title-color text-uppercase">
                                    <span class="col-xs-6">Total</span>
                                    <span class="col-xs-6">$99.98</span>
                                </div>
                                <div class="actions text-center">
                                    <span><a href="#" class="view-cart title-link text-uppercase">View Cart <i class="fa fa-angle-right"></i></a></span>
                                    <span><a href="#" class="btn waves-effect waves-light btn-light-dark">Process to Checkout</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- end .top-cart -->
                    </div>

                    <button class="nav-hamburger dark visible-xs visible-sm">
                        <span>toggle menu</span>
                    </button> <!-- /.nav-hamburger -->
                </div>
            </div> <!-- /.container -->
        </header>
        <!-- /.magazine-header -->
        <div class="search-wrapper">
            <a href="#" class="close-search"><i class="material-icons">close</i></a>
            <form action="#" class="search-popup">
                <div class="input-field">
                    <input type="search" id="search" autocomplete="off">
                    <label for="search">Search here...</label>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <main id="main" class="site-content">
             
            <!-- /.page-header -->
            <section class="section-full">
                <div class="container">
                    <ul class="shop-order-progress flex flex-center fw300 mb-50 fz-13">
                        <li><a href="shop-order.html">Order</a></li>    
                        <li><a href="shop-shipping.html">Shipping</a></li>    
                        <li><a href="#">Payment</a></li>    
                        <li class="active"><a href="#">Confirmation</a></li>
                    </ul> <!-- end .order-progress -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="purchase-confirmation-title mb-30">
                                <h4 class="mb-20 no-ls">Billing Details</h4>
                                <p class="text-success">Thank you! Your order has been received.</p>
                            </div>
                            <!-- /.purchase-confirmation-title -->
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                            <ul class="woocommerce-thankyou-order-details roboto-slab fw300 flex">
                                <li class="order text-color ">Order Number: <span class="title-color roboto fw500 block">#7473</span> </li>
                                <li class="date text-color ">Date: <span class="title-color roboto fw500 block">September 27, 2016</span></li>
                                <li class="total text-color ">Total:<span class="price title-color roboto fw500 block">$31.50</span></li>
                                <li class="method text-color ">Payment Method: <span class="title-color roboto fw500 block">Check Payments</span></li>
                            </ul>
                            <!-- /.woocommerce-thankyou-order-details -->
                            <p class="fw300 mt-20">Make your payment directly into our bank account. Pleae use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in out account</p>

                            <div class="order-details mt-80">
                                <h4 class="fw-700 mb-25">Your Order</h4>
                                <div class="table-responsive">
                                    <table class="table-1 table-cart w100">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h5 class="fw300"><a href="#" class="title-link">Nike Tutta Sports</a></h5>
                                                    <span class="fz-12 text-dark-54">Size : Large</span>
                                                </td>
                                                <td><span class="price fw300">$150.00</span></td>
                                                <td>1</td>
                                                <td><span class="price fw300">$150.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fw300"><a href="#" class="title-link">Nike Tutta Sports</a></h5>
                                                    <span class="fz-12 text-dark-54">Size : Large</span>
                                                </td>
                                                <td><span class="price fw300">$150.00</span></td>
                                                <td>1</td>
                                                <td><span class="price fw300">$150.00</span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h5 class="fw300"><a href="#" class="title-link">Nike Tutta Sports</a></h5>
                                                    <span class="fz-12 text-dark-54">Size : Large</span>
                                                </td>
                                                <td><span class="price fw300">$150.00</span></td>
                                                <td>1</td>
                                                <td><span class="price fw300">$150.00</span></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row" colspan="3">Subtotal:</th>
                                                <td class="title-color fw700"><span class="price">$450.00</span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3">Shipping and Handling</th>
                                                <td class="title-color fw700">Free</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" colspan="3">Total:</th>
                                                <td class="title-color fw700"><span class="price">$450.00</span></td>
                                            </tr>
                                        </tfoot>
                                    </table> <!-- /.table-1 -->
                                </div> <!-- /.table-responsive -->
                            </div>
                        </div> <!-- /.col -->
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-offset-1 col-lg-3">
                            <aside class="widget-area">
                                <section class="widget">
                                    <h4 class="widget-title mb-15">Customer Detail</h4>
                                    <p><span class="block fw300">Email</span> demo@gmail.com</p>
                                    <p><span class="block fw300">Phone number</span> +919098962700</p>
                                </section>
                                <section class="widget">
                                    <h4 class="widget-title mb-15">Billing Address</h4>
                                    <div class="textwidget fw300">
                                        Tran Mau Tri Tam <br>
                                        164 Nguyen Xi, Binh Thanh <br>
                                        Ho Chi Minh City <br>
                                        70000 <br>
                                        Vietnam
                                    </div>
                                </section>
                                <section class="widget">
                                    <h4 class="widget-title mb-15">Shipping Address</h4>
                                    <div class="textwidget fw300">
                                        N/A <br> <br> <br>
                                        <a href="#" class="btn btn-white default-shadow text-uppercase"><i class="fa fa-print mr-5"></i>Print Now</a>
                                    </div>
                                </section>
                            </aside>
                        </div> <!-- /.col -->
                    </div>
                </div> <!-- /.container -->
            </section>
            <!-- //.section-full -->
        </main> <!--  .site-content  -->

           <!-- include file -->
                            <footer class="site-footer">
                          
                        <!-- footer-widget-3 -->

                        <div class="secondery-footer dark">
                            <div class="container">
                                <div class="inner-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p>Copyright 2017 Dismip | All Rights Reserved </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <ul class="social-links social-1 text-right">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                 
                                                 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" id="go-top">
                                <i class="fa fa-angle-up"></i>
                            </a>
                        </div>
                    </footer>        <!-- include file -->

        
        <!--
        JavaScripts
        ========================== -->
        <script src="js/scripts.minified.js"></script>
        <script src="js/main.js"></script>        <script>
            (function($) {
                $(".selectize").selectize();
            })(jQuery);
        </script>
    </body>

<!-- Mirrored from codepixar.com/matex/matex/shop-order-confirmation.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Jul 2017 13:11:28 GMT -->
</html>